@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,200&display=swap');
@import './variable.scss';

.registrationTitle {
  font-family: $text, sans-serif;
  color: $primaryColor;
  font-size: 1.1em;
  font-weight: 800;
  padding-left: 30px;
}

.displayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: $LowError;
  background-color: $displer;
  border-radius: $LowError;
  border-radius: 5px;
}

.resend:hover {
  cursor: pointer;
}
.resendbtn {
  border: 0px;
  border-color: none;
  border-radius: 4px;
  background-color: rgba(158, 60, 11, 0.2);
  color: $secondaryColor;
  cursor: pointer;
}

.resendbtn:hover {
  background-color: rgba(158, 60, 11, 0.4);
}
