@import './variable.scss';

.css-1lu02n7-MuiList-root {
  display: flex !important;
  flex-direction: column !important;
  color: $normall !important;
}

.css-1lu02n7-MuiList-root > .active {
  color: $primaryColor !important;
}
.MuiButtonBase-root {
  display: flex !important;
}
.meeeeeee {
  display: flex !important;
  flex-direction: column !important;
}
