$primaryColor: #1d97a7;
$secondaryColor: #ffffff;
$tertiaryColor: #0000;
$errorColor: #ff0000;
$normall: #757575;
$text: Montserrat;
$displer: rgb(245, 203, 203);
$LowError: rgb(244, 78, 78);
$onhover: rgb(243, 232, 232);
