$mainColor: #64b2bc;
body {
    background-color: #fff;
    color: aliceblue;
}

.welcome {
    width: 100%;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
